.degrade{
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 8%, rgba(0,212,255,1) 100%);;
}

.vermelho{
  color: crimson;
}
.azul{
  color: rgb(10, 131, 206);
}